<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blogs</title>
    <link rel="stylesheet" href="/stylesheets/bootswatch.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a> Tech Blogs</a>
        </h1>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container-fluid">
            <a href="/all_blogs" class="navbar-brand" href="/">Blogs</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarColor01"
              aria-controls="navbarColor01"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <button>
              <a href="/" class="navbar-brand" href="/">Home</a>
            </button>
          {{#if loggedIn}}
            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="/dashboard">My Dashboard
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
              </ul>
            </div>
            <div  class="d-flex">
              <button
                class="btn btn-info my-2 my-sm-0"
                id="log-out"
                type="submit"
              >Log Out</button>
            {{/if}} 
            </div>
          </div>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer class="text-center text-lg-start">
        <div class="text-center p-3">
          Thanks for Visiting!
        </div>
      </footer>
    </div>
  </body>

</html>

 {{#if loggedIn}}
<script src="/javascript/logout.js"></script>
  {{/if}}

