<div>
  <p>Writing about tech can be just as important as making it! Spend time
    reading and writing about technical concepts, recent advancements, and new
    technologies. Share and read tutorials from developers at all skill levels!
    Log In or Join now to see our awesome content!
  </p>

  <h5>Log In!</h5>
  {{! log-in form }}
  <form id="logInOut" class="login-form">
    <div  class="form-group" "signup-form">
      <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
      <input type="email" class="form-control" id="email-signIn" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
      <input type="password" class="form-control" id="userPassword" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br>
<a> Not a user yet? </a> <br>
<a href="/signup">Click here to create a new profile!</a>

</div>
  
  <script src="/javascript/login.js"></script>