<h5>Sign Up!</h5>
  {{! sign-up form }}
  <form id="logInOut">
    <div  class="form-group" "signup-form">
      <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
      <input type="email" class="form-control" id="ex" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      <small id="passwordlHelp" class="form-text text-muted">Must be at least 4 characters long.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


 <script src="/javascript/signUp.js"></script>